/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styling for the contact page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Contact section styling */
#contact {
    padding: 5% 10%; /* Use percentages for padding */
    text-align: center;
}

#contact h1 {
    font-size: 3vw; /* Use viewport width for font size */
    color: var(--primary-color);
    margin-bottom: 2%;
}

.contact-section {
    margin-bottom: 2%;
    padding: 3%; /* Use percentages for padding */
    border: 0.2vw solid var(--primary-color); /* Use viewport width for border */
    border-radius: 1%; /* Use percentage for border radius */
    background-color: var(--nav-bg-color);
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2); /* Use viewport width for shadow */
    width: 60%; /* Percentage width */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5vw; /* Use viewport width for font size */
    color: var(--secondary-color);
    margin-bottom: 1%;
}

.contact-section p {
    font-size: 1.5vw; /* Use viewport width for font size */
    margin: 1% 0;
}

.contact-section a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5vw; /* Use viewport width for font size */
    font-weight: 700;
    transition: color 0.3s ease;
}

.contact-section a:hover {
    color: var(--hover-text-color);
}