/* Footer styling */
.footer {
    margin-top: auto;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 5%; /* Use percentage for padding */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw; /* Use viewport width for font size */
    width: 100%;
}
