.image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.text-box {
    position: absolute;
    bottom: -5%; /* Use percentage for positioning */
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Use percentage for width */
    background-color: white;
    color: black;
    padding: 2%; /* Use percentage for padding */
    text-align: center;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    border-color: black;
    border-width: 0.2vw; /* Use viewport width for border width */
    border-style: solid;
    border-radius: 1%; /* Use percentage for border radius */
}

.text-box h1 {
    font-size: 2.5vw; /* Use viewport width for font size */
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.text-box p {
    font-size: 1.5vw; /* Use viewport width for font size */
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-top: 50px;
}
