/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Importing a better font for the logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Basic reset for padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define global color variables */
:root {
    --primary-color: #4454eb;
    --secondary-color: #000000;
    --text-color: white;
    --secondary-text-color: #000000;
    --hover-bg-color: #ffffff;
    --hover-text-color: #333;
    --nav-bg-color: rgba(255, 255, 255, 0.2);
    --bg-color: white;
}

/* Body styling */
body {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

/* Navbar logo styling */
.navbar .logo a {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    line-height: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navbar links styling */
.nav-links {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--nav-bg-color);
    padding: 10px 20px;
    gap: 15px;
    transition: all 0.3s ease;
}

.nav-links:hover {
    background-color: var(--primary-color);
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Hover effect for links */
.nav-links a:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
