/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Importing a better font for the logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Basic reset for padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define global color variables */
:root {
    --primary-color: #4454eb;
    --secondary-color: #000000;
    --text-color: white;
    --secondary-text-color: #000000;
    --hover-bg-color: #ffffff;
    --hover-text-color: #333;
    --nav-bg-color: rgba(255, 255, 255, 0.2);
    --bg-color: white;
}

/* Ensure footer stays at the bottom */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Signika', sans-serif;
    font-size: 1.6vw; /* Use viewport width for font size */
    line-height: 1.6;
    padding: 2%; /* Use percentage for padding */
}
